.headerNameView{
    color: white !important;
    font-size:36px !important;
    outline:none;
    width:100%;
    font-family:arial;
}

.ui-listview>li .pOtherDetail
{
    font-weight: bold;
    color:#000000 !important;
    font-size:14px !important;
    outline:none;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box !important;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    white-space: normal ;
    margin-bottom: 15px;
}
